<!-- <mat-toolbar color="primary">
    <button mat-button (click)="signOut()">Sign Out</button>
    <button mat-button (click)="ToCourses()">Courses</button>
    </mat-toolbar>
    <h2>My Courses</h2>
    @for(course of myCourses;track course.id){
    <div>
        <h3>{{course.title}}</h3>
        <p>{{course.description }}</p>
    
        @if(!isEnroll(course.id)){
        <button (click)="showLessons(course.id)">Show Lessons</button>
        }
        <button (click)="showLessons(course.id)">Show Lessons</button>
        @if(userRole=="teacher"){
        <button (click)="editCourse(course.id)">edit</button>
        <button (click)="deleteCourse(course.id)">delete</button>
        }
    </div>
    } -->
    <mat-toolbar color="primary">
        <button mat-button (click)="ToCourses()">Courses</button>
        <button mat-button (click)="signOut()">Sign Out</button>
    </mat-toolbar>
    <div class="centered-container">
        
        <h2>My Courses</h2>
        @for(course of myCourses;track course.id){
            <div class="course-container">
                <h3>Title: {{course.title}}</h3>
                <p>Description: {{course.description }}</p>
                <div class="button-container">
                    @if(!isEnroll(course.id)){
                        <button (click)="showLessons(course.id)">Show Lessons</button>
                    }
                    @if(userRole=="teacher"){
                        <button mat-button (click)="showLessons(course.id)">show lessons</button>
                        <button mat-button (click)="editCourse(course.id)">edit</button>
                        <button mat-button (click)="deleteCourse(course.id)">delete</button>
                    }
                </div>
            </div>
        }
    </div>
    