<mat-toolbar color="primary">
    <button mat-button (click)="returnToCourses()">Courses</button>
<button mat-button (click)="returnToMyCourses()">My Courses</button>
@if(userRole=="teacher"){
<button mat-button (click)="addLesson()">Add Lesson</button>
}
    </mat-toolbar>

<h2>Lessons</h2>
@for(lesson of (lessons | async);track lesson.id){
<div>
    <h3>{{lesson.title}}</h3>
    <p>{{lesson.content }}</p>

    @if(userRole=="teacher"){
    <button (click)="editLesson(lesson.id)">edit</button>
    <button (click)="deleteLesson(lesson.id)">delete</button>
    }
</div>
}
