
<mat-toolbar color="primary">
    <button mat-button (click)="ToMyCourses()">My Courses</button>
    @if(userRole=="teacher"){
        <button mat-button (click)="addCourse()">Add Course</button>
    }
    <button mat-button (click)="signOut()">Sign Out</button>
</mat-toolbar>

<h2>Courses</h2>

@if(errorMessage){
    <div class="error-message">{{ errorMessage }}</div>
}

<div class="course-container">
    @for(course of (courses | async); track course.id){
        <div class="course-item">
            <h3>Title: {{course.title}}</h3>
            <p>Description: {{course.description }}</p>

            <div class="button-container">
                @if(!isEnroll(course.id)){
                    <button mat-raised-button style="background-color: #4d50ff; color: white;" (click)="enroll(course.id)">Enroll</button>
                }
                @else{
                    <button mat-raised-button style="background-color: #3a59be; color: white;" (click)="unenroll(course.id)">Leave</button>
                }
                <button mat-raised-button style="background-color: #3a59be; color: white;" (click)="showLessons(course.id)">Show Lessons</button>
                @if(userRole=="teacher"){
                    <button mat-button style="background-color: #3a59be; color: white;" (click)="editCourse(course.id)">Edit</button>
                    <button mat-button style="background-color: #3a59be; color: white;" (click)="deleteCourse(course.id)">Delete</button>
                }
            </div>
        </div>
    }
</div>
