.centered-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* מרכז את התוכן */
    margin-top: 10%; /* מרווח מעל הטופס */
    width: 100%; /* רוחב 100% של ההורה */
    max-width: 400px; /* רוחב מקסימלי של הטופס */
    margin-left: 35%;
}

.mat-form-field {
    width: 100%; /* רוחב מלא עבור שדות הטופס */
    margin-bottom: 16px; /* מרווח בין השדות */
}

.submit-button {
    width: 50%; /* רוחב מלא עבור כפתור השליחה */
}
